<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title></title>
	<script src="src/vendor_js/jquery/jquery.min.js" type="text/javascript"></script>
	<script src="src/vendor_js/angular/angular.min.js" type="text/javascript"></script>
	<script src="src/vendor_js/angular/angular-animate.min.js" type="text/javascript"></script>
	<script src="src/vendor_js/angular/angular-toaster.js" type="text/javascript"></script>

	<link rel="stylesheet" href="src/vendor_css/bootstrap/css/bootstrap.min.css" />

	<script src="enzi-form-min.js" type="text/javascript"></script>

	<script type="text/javascript">
		angular.module('myApp', ['enzi-form'])
		.controller('test', function ($scope, enziForm) {
			$scope.records = [];
			var fields = [
				{ name: 'Id', label: 'Id', type: 'number', required: true },
				{ name: 'Name', label: 'Name', type: 'text', required: true },
				{ name: 'Email', label: 'Email', type: 'email', required: false },
				{ name: 'Address', label: 'Address', type: 'textarea' },
				{ name: 'StartDate', label: 'Start Date', type: 'date', required: false },
				{ name: 'EndTime', label: 'End Time', type: 'datetime-local', required: false },
				{ name: 'Country', label: 'Country', type: 'picklist', required: false, picklistValues: ['India', 'United States'] },
				{ name: 'State', label: 'State', type: 'picklist', required: false, picklistValues: { "India": ['Gujarat', 'Maharashtra'], 'United States': ['California', 'New York'] }, dependsOn: 'Country' },
			];

			$scope.openDialog = function () {
				enziForm.showForm('Create Record', fields, { Id: $scope.records.length + 1, Name: 'Test User', StartDate: new Date(), EndTime: new Date() }, function (record, onsuccess) {
					$scope.records.push(record);
					onsuccess();
				}, function (record) {
					alert('cancel');
				});
			}

			$scope.delete = function (record) {
				var found = $scope.records.indexOf(record);
				if (found >= 0)
					$scope.records.splice(found, 1);
			}
			$scope.edit = function (record) {
				enziForm.showForm('Edit Record', fields, record, function (record, onsuccess) {
					onsuccess();
				}, function (record) {
					alert('cancel');
				});
			}
		})

	</script>
</head>
<body ng-app="myApp" ng-controller="test">
	<button ng-click="openDialog()">Create Lookup Record</button>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Action</th>
					<th>Id</th>
					<th>Name</th>
					<th>Email</th>
					<th>Address</th>
					<th>Start Date</th>
					<th>End Time</th>
					<th>Country</th>
					<th>State</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="r in records">
					<td><a ng-click="edit(r)">Edit</a> | <a ng-click="delete(r)">Del</a></td>
					<td>{{r.Id}}</td>
					<td>{{r.Name}}</td>
					<td>{{r.Email}}</td>
					<td>{{r.Address}}</td>
					<td>{{r.StartDate | date : "yyyy/MM/dd"}}</td>
					<td>{{r.EndTime | date : "yyyy/MM/dd	h:mma"}}</td>
					<td>{{r.Country}}</td>
					<td>{{r.State}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
